<div class="container align-center">
  <h2 id="home-header">Art. Cloud. MS Paint.</h2>
</div>

<div class="homepage-jumbotron align-center">
  <div class="container">
    <a id="homepage-get-started" class="btn btn-xlg btn-success sign-up-lnk" href="<%= new_user_registration_path %>">
      <i class="glyphicon glyphicon-check"></i> Get Started for Free
    </a>
  </div>
</div>
